<div class="container" fxLayout="column">
        <div class="edit-label-title">
            <p>Edit labels</p>
        </div>
        <div class="create-new-label">
            <button mat-flat-button (click)="cleartext()">
                <mat-icon class="label-icon">close</mat-icon>
            </button>
            <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="createlabel1.name" 
                    type="text">
            </mat-form-field>
            <button mat-icon-button (click)="createLabelMethod()">
                <mat-icon>done icon</mat-icon>
            </button>
        </div>
        
        <div *ngFor="let label of labels" class="all-label-container">
            <div>{{label.name}}</div>
        </div>
        <hr>
        <div class="button-done" (click)="closeDialog()">
            <button mat-button>Done</button>
        </div>
    
    </div>