.container{
  display: flex;
  height: 100vh;  
}
.forgot-div{
  width: 450px;
  margin: 5rem;
}
.forgot-card{
  flex-direction: column;
  border: 1px rgba(20, 20, 20, 0.438) solid;
  border-radius: 10px;
}

.mat-card-header{
  flex-direction: column;
  align-items: center;
}
.text-login{
  font-size: 22px;
  margin-top: 3px;
  margin-bottom: -5px;
}
.mat-card-content{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.mat-card-actions{
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.mat-raised-button{
  background-color: #1a73e8;
  color: white;
  padding-left:20px;
  padding-right: 20px;
  margin-right: 20px;
  
}