.mat-toolbar.mat-primary {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: .5px solid rgb(177, 177, 177);    
    
  }
.mat-sidenav-container {
    height: 100%;
    background-color: rgba(192, 192, 235, 0);   
}
.mat-sidenav .mat-sidenav-content{
    padding: 16px;
}
.header-profile-pic{
    border-radius: 20px; 
    width: 40px; 
    height: 40px;
}
.profile-menu{
  
    display: flex;
}

.mat-form-field{
    width:100%;
    margin-top: 25px;
}

.mat-sidenav{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.mat-sidenav div{
    border-radius: 10px;
    background-color: rgb(252, 230, 197);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 4px;
}

.search-container {
    color: rgb(109, 109, 109);
}