.mat-toolbar.mat-primary {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: .5px solid rgb(177, 177, 177); 
    padding: 0;   
    height: 56.5px;
  }
.mat-sidenav-container {
    height: 100%;
    background-color: rgba(192, 192, 235, 0);   
}
.mat-sidenav .mat-sidenav-content{
    padding: 16px;
}
.header-profile-pic{
    border-radius: 20px; 
    width: 40px; 
    height: 40px;
}
.profile-menu{
  
    display: flex;
}

.mat-form-field{
    width:100%;
    margin-top: 25px;
}

.mat-sidenav{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.sidenav-list>div{
    border-bottom: 0.4px solid;
}

.search-container {
    color: rgb(109, 109, 109);
}
.title-bar>mat-icon{
    padding: 10px;
    width: 30px;
    color: #585757;
    font-size: 26px;
}