<div class="container">
    <!-- <div fxFlex="25"></div> -->
    <div *ngFor="let item of note">
        <mat-card class="one-note">
            <div class="note-title">
                <textarea matInput cdkTextareaAutosize 
                        rows = "6"
                        type="text" 
                        placeholder="Title" 
                        name="title"
                        >{{item.title}}</textarea> 
            </div>
            <div class="note-content">
                <textarea matInput cdkTextareaAutosize 
                    rows = "6"
                    type="text" 
                    placeholder="Take a note..." 
                    name="content"
                    >{{item.content}}</textarea> 
            </div>
            <div style=" 
            display: block; padding:
            5px 10px 5px 10px; 
            font-size: .75rem;
            color: #5f6368;
            text-align: end;
            letter-spacing: .025em;"
            >Edited {{hour}}:{{minuts}}</div>
            <div class="create-note-toolbar">
                <div class="create-note-menu" fxLayout="row" fxFlex="82" fxLaoutAline="space-between center">
                    <span matTooltip="reminder" [matMenuTriggerFor]="matMenuReminder"> <mat-icon>add_alert</mat-icon> </span>
                    <span matTooltip="Collaborate"> <mat-icon>person_add</mat-icon> </span>
                    <span matTooltip="Change color" [matMenuTriggerFor]="matMenuChangeColor"> <mat-icon>color_lens</mat-icon> </span>
                    <span matTooltip="Add image"> <mat-icon>image</mat-icon> </span>
                    <span matTooltip="Archive"> <mat-icon>archive</mat-icon> </span>
                    <span matTooltip="More" [matMenuTriggerFor]="matMenuMore"> <mat-icon>more_vert</mat-icon> </span>
                    <span> <mat-icon matTooltip="undo">undo</mat-icon> </span>
                    <span> <mat-icon matTooltip="redo">redo</mat-icon> </span>  
                </div>
                <div fxFlex="18" class="create-note-close">                  
                    <button mat-button (click)="showHideButton()">Close</button>        
                </div>
            </div>
        </mat-card>

        <mat-menu #matMenuReminder="matMenu">
            <div ><span>Reminder: </span>
                <button mat-menu-item>Latest Today</button>
                <button mat-menu-item>Tomorrow</button>
                <button mat-menu-item>Next Week</button>
                <button mat-menu-item>Home</button>
                <button mat-menu-item>Work</button>
                <button mat-menu-item><mat-icon>access_time</mat-icon>Pick date & time</button>
                <button mat-menu-item><mat-icon> place</mat-icon>Pick place</button>           

            </div>
        </mat-menu>
        <mat-menu #matMenuChangeColor="matMenu">Change Color</mat-menu>
        <mat-menu #matMenuMore="matMenu">
        <button mat-menu-item>Add label</button>
        <button mat-menu-item>Add drowing</button>
        <button mat-menu-item>Show checkboxes</button>
        </mat-menu>
    </div>
    <!-- <div fxFlex="25"></div> -->
</div>