<div class="container">
    <div fxFlex='20' fxFlex.sm='0' fxFlex.xs='0' fxFlex.lt-md = '10'></div>    
    <div *ngIf="getNotes.notes.length != 0; else noSearch" fxLayout="row wrap" fxFlex.xs='100' fxFlex.lt-md = '62' fxFlex.lt-sm = '75' class="one-note">                
        <div class="notes-container" fxFlex.xs='100' fxFlex.sm='50' [ngStyle]="changeList()" *ngFor="let note of getNotes.notes?.reverse()">
                <mat-card [style.background-color]="note.change_color">
                    <div>
                            <div class='note-image-div' *ngIf='note.image !== null'>
                                <img src="{{note.image}}" alt="picture" style="width: 100%;
                                height: auto">
                            </div>
                            <div class="note-title"> {{note.title}} </div>
                            <div class="note-content"> {{note.content}} </div>
                            <div class="label-content" fxLayoutGap="4px">
                                <div style="display: flex;
                                            flex-direction: row;
                                            height: fit-content;
                                            flex-wrap: wrap;">
                                        <span class="chip" 
                                        *ngIf="note.reminder != 'None'"
                                        style="background-color: rgba(255,255,255,.4);
                                                border-radius: 10px;
                                                padding: 5px;
                                                height: fit-content;
                                                align-self: center;">
                                                <div>{{note.reminder | date:'d MMM hh:mm a'}}</div>
                                        </span>
                                        <span class="chip" *ngFor="let col of note.collaborate">
                                                <div mat-card-avatar 
                                                    matTooltip="{{col}}"
                                                        style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
                                                        background-size: cover;">
                                                </div>
                                        </span>
                                    <div class="chip" *ngFor="let onelabel of note.label"
                                        style="padding: 5px;
                                                background-color: #bbc7c7;
                                                margin-left: 5%;
                                                margin-top: 5%;
                                                border-radius: 10px 10px 10px 10px;
                                                height: min-content;"
                                    >{{onelabel}}
                                        <i matTooltip="Remove Label" class='material-icons close' (click)="removeLable(note,onelabel)"
                                        style="vertical-align: middle; 
                                                color: rgba(0,0,0,.7);
                                                font-size: medium;"
                                        >close                                        
                                        </i>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div>
                            <div id="hover-show-content">
                                <span matTooltip="reminder" [matMenuTriggerFor]="matMenuReminder"> <mat-icon>add_alert</mat-icon> </span>
                                <span matTooltip="Collaborate"> <mat-icon>person_add</mat-icon> </span>
                                <span matTooltip="Change color" [matMenuTriggerFor]="matMenuChangeColor"> <mat-icon>color_lens</mat-icon> </span>
                                <span matTooltip="Add image"><mat-icon id="note-image">image</mat-icon> </span>
                                <span matTooltip="Archive"> <mat-icon>archive</mat-icon> </span>
                                <span matTooltip="More" [matMenuTriggerFor]="matMenuMore"> <mat-icon>more_vert</mat-icon> </span>
                            </div>
                        </div>
                    </mat-card>
                    <mat-menu #matMenuReminder="matMenu">
                        <div ><h3>Reminder: </h3>
                            <button mat-menu-item>
                                <mat-icon>access_time</mat-icon>
                                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" 
                                placeholder="Date Time">
                                <owl-date-time #dt1></owl-date-time>
                            </button>
                        </div>
                    </mat-menu>
                    <mat-menu #matMenuChangeColor="matMenu">
                            <div class='change-color'>
                                    <button mat-mini-fab style="background-color: #FFFFFF;"></button>
                                    <button mat-mini-fab style="background-color: #fff475;"></button>
                                    <button mat-mini-fab style="background-color: #f28b82;"></button>
                                    <button mat-mini-fab style="background-color: #fbbc04;"></button>
                                    <button mat-mini-fab style="background-color: #ccff90;"></button>
                                    <button mat-mini-fab style="background-color: #a7ffeb;"></button>
                                    <button mat-mini-fab style="background-color: #cbf0f8;"></button>
                                    <button mat-mini-fab style="background-color: #aecbfa;"></button>
                                    <button mat-mini-fab style="background-color: #d7aefb;"></button>
                                    <button mat-mini-fab style="background-color: #fdcfe8;"></button>
                                    <button mat-mini-fab style="background-color: #e6c9a8;"></button>
                                    <button mat-mini-fab style="background-color: #e8eaed;"></button>
                                </div>
                    </mat-menu>
                    <mat-menu #matMenuMore="matMenu">
                        <button mat-menu-item>Delete note</button>
                        <button mat-menu-item [matMenuTriggerFor]="addLabels">Add label</button>
                        <button mat-menu-item>Make a copy</button>
                        <button mat-menu-item>Add drowing</button>
                        <button mat-menu-item>Show checkboxes</button>
                    </mat-menu>
                    <mat-menu #addLabels="matMenu">
                        <div style="padding-left: 10px;" *ngFor="let oneLabel of allLabels">
                            <mat-checkbox>{{oneLabel.name}}</mat-checkbox>
                        </div>
                    </mat-menu>
        </div>
    </div>
    <ng-template #noSearch>
        <div style="font-style: italic;
            flex: auto;
            text-align: -webkit-center;">
            <h1 *ngIf="getNotes.searchContentSize > 2" >No matching results.</h1>
            <h1 *ngIf="getNotes.searchContentSize <= 2" >Enter to search.</h1>
        </div>
      </ng-template>
    <div fxFlex='20' fxFlex.sm='0' fxFlex.xs='0' fxFlex.lt-md = '10'></div>
</div>