.main-container{
    margin:0;
    padding: 0;
}
.mat-card{
    margin: 8px;
    border: 1px inset;
}
#hover-show-content{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    max-width: 350px;
}