#container {
    margin: 0;
    padding-right: 20%;
    padding-left: 20%;
    border: 1px solid dotted red;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.notes-container{
    width: 33%;
}
mat-card{
    border: 1px solid dotted green;
    margin: 0.5em;
    padding: 0.5rem;
}
@media screen and (max-width: 834px) {
    #container {
        margin: 0;
        padding-right: 10%;
        padding-left: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .notes-container{
        width: 49%;
    }
}


@media screen and (max-width: 599px) {
    #container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .notes-container{
        width: 100%;
        height: 100%;
    }
}

