<div class="main-container">
    <div fxFlex="20" fxFlex.sm='0' fxFlex.xs='0' style="background-color: cornflowerblue;"></div>
    <div fxFlex="60" fxLayout="row wrap" fxFlex.xs='100' fxFlex.sm='50'>
        <div *ngFor="let reminder_note of reminderNotes" fxFlex="33" fxFlex.xs='100' fxFlex.sm='50'>
            <mat-card>

            <div style="background-color: coral; margin: 2px; padding: 2px;">
                <div>
                    {{reminder_note.note.title}}
                </div>
                <div>
                    {{reminder_note.note.content}}
                </div>
                <div id="hover-show-content">
                        <span matTooltip="reminder" [matMenuTriggerFor]="matMenuReminder"> <mat-icon>add_alert</mat-icon> </span>
                        <span matTooltip="Collaborate"> <mat-icon>person_add</mat-icon> </span>
                        <span matTooltip="Change color" [matMenuTriggerFor]="matMenuChangeColor"> <mat-icon>color_lens</mat-icon> </span>
                        <span matTooltip="Add image" (click)="clickChageView()"> <mat-icon>image</mat-icon> </span>
                        <span matTooltip="Archive"> <mat-icon (click)="restoreNote(note.note.id)">archive</mat-icon> </span>
                        <span matTooltip="More" [matMenuTriggerFor]="matMenuMore"> <mat-icon>more_vert</mat-icon> </span>
                </div>
            </div>
            </mat-card>
        
                    <mat-menu #matMenuReminder="matMenu">
                        <div ><span>Reminder: </span>
                            <button mat-menu-item>Latest Today</button>
                            <button mat-menu-item>Tomorrow</button>
                            <button mat-menu-item>Next Week</button>
                            <button mat-menu-item>Home</button>
                            <button mat-menu-item>Work</button>
                            <button mat-menu-item><mat-icon>access_time</mat-icon>Pick date & time</button>
                            <button mat-menu-item><mat-icon> place</mat-icon>Pick place</button>           
                        </div>
                    </mat-menu>
        
                    <mat-menu #matMenuChangeColor="matMenu">
                            <div class='change-color'>
                                    <button mat-mini-fab style="background-color: #FFFFFF;" (click)="changeColor(note.note.id, '#FFFFFF')"></button>
                                    <button mat-mini-fab style="background-color: #00FFFF;" (click)="changeColor(note.note.id, '#00FFFF')"></button>
                                    <button mat-mini-fab style="background-color: #FF00FF;" (click)="changeColor(note.note.id, '#FF00FF')"></button>
                                    <button mat-mini-fab style="background-color: #FFFF00;" (click)="changeColor(note.note.id, '#FFFF00')"></button>
                                    <button mat-mini-fab style="background-color: #0000FF;" (click)="changeColor(note.note.id, '#0000FF')"></button>
                                    <button mat-mini-fab style="background-color: #FF0000;" (click)="changeColor(note.note.id, '#FF0000')"></button>
                                    <button mat-mini-fab style="background-color: #00FF00;" (click)="changeColor(note.note.id, '#00FF00')"></button>
                                    <button mat-mini-fab style="background-color: #FF8080;" (click)="changeColor(note.note.id, '#FF8080')"></button>
                                    <button mat-mini-fab style="background-color: #808080;" (click)="changeColor(note.note.id, '#808080')"></button>
                                    <button mat-mini-fab style="background-color: #300000;" (click)="changeColor(note.note.id, '#300000')"></button>
                                    <button mat-mini-fab style="background-color: #3A5FAF;" (click)="changeColor(note.note.id, '#3A5FAF')"></button>
                                    <button mat-mini-fab style="background-color: #FF3D00;" (click)="changeColor(note.note.id, '#FF3D00')"></button>
                                </div>
                    </mat-menu>
                    <mat-menu #matMenuMore="matMenu">
                        <button mat-menu-item>Add label</button>
                        <button mat-menu-item>Add drowing</button>
                        <button mat-menu-item>Show checkboxes</button>
                    </mat-menu>
        </div>
    </div>


    <div fxFlex="20" fxFlex.sm='0' fxFlex.xs='0' style="background-color: crimson;"> </div>
</div>