$border-color: #92968e;

.container {
    display: flex;
    justify-content: center;
    margin: 2vw 0 2vw 0;
}

.create-note-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 50%;
    max-width: 50%;
    padding: 8px;
    // border: $border-color 1px solid;
    border-radius: 6px;
    color: rgb(151, 151, 151);
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(24, 20, 19, 0), 0 5px 2px 0 rgba(0,0,0,.12)
}

.create-note-menu{
    place-self: center;
}

.create-note{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 60%;
    border: $border-color 1px solid;
    border-radius: 15px;    // update
    border-bottom-style: double;    // new
    padding: 0;

    div {
        padding: 10px 10px 0px 10px; // new
    }
    .create-note div textarea{
        border:none;
        min-width: -webkit-fill-available; // new
    }
}


.create-note-toolbar{
    justify-content: space-between;
}

.create-note-close-button{
    color: rgb(100, 100, 100);
    left: 480px;
}

// new
// .mat-card>:first-child {
//     padding: 10px 15px 10px 15px;
// }

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }
  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  
  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }