/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~ng-pick-datetime/assets/style/picker.min.css";


// html,body{overflow: hidden;}

.edit-note-no-padding-dialog .mat-dialog-container {
    padding: 0;
  }
  
body{
  margin: 0%;
}