/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.one-note-dialog #main-edit-note-id{
    padding: 0;
    margin: 0;
    background-color: rosybrown;
    border: 2px solid dotted red;
}

.pic-change-class{
    padding: 0;
    margin: 0;
    border: 2px solid dotted forestgreen;
}
