      <div class="container" fxLayoutAlign="center">
        <div class="login-div">
            <mat-card class="login-card">
                <mat-card-header class="mat-card-header">
                    <mat-card-title>
                        <span style="color: rgba(34, 34, 216, 0.788);">F</span>
                        <span style="color: rgba(209, 12, 22, 0.788);">u</span>
                        <span style="color: rgba(216, 143, 34, 0.788);">n</span>
                        <span style="color: rgba(34, 34, 216, 0.788);">d</span>
                        <span style="color: rgba(34, 216, 49, 0.788);">o</span>
                        <span style="color: rgba(209, 12, 22, 0.788);">o</span>
                    </mat-card-title>
                    <div>
                        <p class="text-login">Set Password</p>
                    </div>
                    <div>
                        <p>Enter new password to set</p>
                    </div>
                </mat-card-header>
                <!-- <img mat-card-image src="/assets/img/download.jpeg" alt="Photo of a Shiba Inu"> -->
                <form [formGroup]="form">
                    <mat-card-content class="mat-card-content">
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Set Password</mat-label>
                            <input matInput [(ngModel)]="userData.password" name="password" type="password" required formControlName="password"
                                [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}">
                            <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
                                <div *ngIf="form.get('password').errors.required">Password is required</div>
                                <div *ngIf="form.get('password').errors.minlength">Password must be atleast contain 6
                                    characters</div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [(ngModel)]="userData.confirm_password" type="password" name="confirm_password" required formControlName="confirm_password"
                                [ngClass]="{'is-invalid':form.get('confirm_password').touched && form.get('password').invalid}">
                            <mat-error *ngIf="form.get('confirm_password').touched && form.get('password').invalid">
                                    <div *ngIf="form.get('confirm_password').errors.required">Password is required</div>
                                    <div *ngIf="form.get('confirm_password').errors.minlength">Password must be atleast contain 6
                                        characters</div>
                                    <div *ngIf="form.get('confirm_password').errors">Password is not matching</div>
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </form>
                <mat-card-actions class="mat-card-actions">
                    <button mat-raised-button color="primary" class="mat-raised-button" (click)="setPassword()">Set
                        Password</button>
                    
                </mat-card-actions>
                <mat-card-footer>
                        <a routerLink="/login" style="margin-left: 10px;">Login</a>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>